# python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/
.env

# pytorch / artifacts
artifacts/
*.pt
*.pth

# data
/data/
*.csv
*.tsv
*.txt
*.parquet
!requirements.txt

# mac
.DS_Store

# editors
.vscode/
.idea/

# local configs
local.yaml

#checkpoints
.ipynb_checkpoints/
